@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Inter:wght@400;500&family=JetBrains+Mono:wght@400;500&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  background-color: #F4F3EE;
  color: #1C1B19;
}

@theme {
  --font-display: 'Plus Jakarta Sans', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-family: "Times New Roman", Times, serif;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
*:hover {
  scrollbar-width: thin;
  scrollbar-color: #B1ADA1 transparent;
}